@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@keyframes like {
    0% {
      transform: rotate( -360deg ) scale( 1 );
    }
    100% {
      transform: rotate( -0deg ) scale( 1 );
    }
}
  

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Russo One', sans-serif !important;
}

.links{
    position: relative;
    top: 4px;
    font-size:30px ;
    justify-content: space-between;
    
    height:20px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.link{
    height:100%;
    width: calc(33.33% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a{
    text-decoration: none;
    font-weight: 100;
    color:black;
}

.chris{
    display: inline-block;
    animation: like 40s .1s infinite linear;
    top: 150px;
    left:320px;
    position: absolute;
    background-image: url(../img/chris.png);
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.header{
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
}



.shit{
    width: 1200px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.obal-stranky{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position: relative;
}

h1::after {
    
    content: '';
    position: absolute;
    width: 300%;
    height: 2px;
    bottom: 0;
    left:-100%;
    background-color: black;
}

.obal{
    width: 1200px;
    height: 900px;
}

.whitewhip{
    background-image: url(../img/whitewhip.jpg);
    position: relative;
    height: 1000px;
    width: auto;
    background-size:auto;
    background-repeat: no-repeat;

    /*box-shadow:inset -30px 0px 100px hsl(0, 0%, 100%);*/
}

.clownass{
    position: relative;
    margin:0 40px 0 40px;
    font-size: 20px;
    line-height: 30px;
}